<app-menu></app-menu>
<div>
  <div class="heading">
    <span class="pageTitle">User Detail</span>
    <span class="create">|<a routerLink="/students/create">Create</a></span>
  </div>
  <table class="table table-sm" *NgIf="student">
    <tr>
      <td>Id</td>
      <td>{{student.id}}</td>
    </tr>
    <tr>
      <td>Firstname</td>
      <td>{{student.firstname}}</td>
    </tr>
    <tr>
      <td>Lastname</td>
      <td>{{student.lastname}}</td>
    </tr>
    <tr>
      <td>GPA</td>
      <td>{{student.gpa}}</td>
    </tr>
    <tr>
      <td>SAT</td>
      <td>{{student.sat}}</td>
    </tr>
    <tr>
      <td>InState</td>
      <td>{{student.instate}}</td>
    </tr>
  </table>
  <div>
  <span><button (click)="edit()" class="btn btn-primary">Edit</button>| </span>
  <span><button (click)="delete()" class="btn btn-danger">Delete</button></span>
  </div>
</div>